body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: #a9a9a9;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  display: flex;
  width: fit-content;
  padding-right: 3em;
  gap: 1em;
  background-color: #004384;
  border-radius: 0 0 25px 0;
}

h1 {
  width: max-content;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-self: baseline;
  background-color: #004384;
}

a {
  text-decoration: none;
  color: white;
}

#spacing {
  width: 100%;
  height: 5.5em;
}

p {
  margin: 0;
}

#board {
  background: #004384;
  overflow: hidden;
  display: grid;
  gap: 0;
  padding: 0.3em;

}

#board img {
  aspect-ratio: 1;
  padding: 0.3em;
  margin: auto;
}

#buttons {
  display: flex;
  justify-content: space-around;
  background-color: #004384;
  border-radius: 15px 15px 0 0;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 3em;
  height: fit-content;
  padding: 0.3em;
}

#row1,
#row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #313131;
  color: white;
  font-weight: bold;
}

#row2 {
  border-radius: 0 0 15px 15px;
}

#inputs {
  display: flex;
  gap: .5em;
  height: fit-content;
  align-items: center;
}

#initializer {
  display: flex;
  gap: 0.5em;
}

#initializer button {
  padding: 0.5em;
  background-color: #6b6b6b;
  color: white;
  border: none;
  font-weight: bold;
}

#score {
  margin: .5em 0;
}

#win {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 3em;
  border-radius: 30px;
  opacity: 95%;
  background-color: #313131;
}

#win img {
  padding: 1rem;
}

#win p {
  color: white;
}


@media screen and (max-width: 850px) {
  #header {
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
  }

  #logo {
    width: 100%;
  }

  #logo a {
    width: 100%;
    border-radius: 0;
    padding-right: 0;
  }

  #spacing {
    height: 9em;
  }
}