body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

#board {
  display: grid;
  gap: 0;
}

#buttons {
  display: flex;
  justify-content: space-around;
}